<div class="container-fluid">
    <h2 class="text-center mt-4">Manage football players in the club</h2>
    <button mat-button color="primary">Add players to team</button>
    <table class="table table-responsive-lg border ">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Team</th>
            <th></th>
        </tr>
        <tr *ngFor="let player of players">
            <td>{{player.firstName}} {{player.lastName}}</td>
            <td>{{player.email}}</td>
            <td>{{player.phoneNumber}}</td>
            <td>{{player.team}}</td>
            <td><button (click)="removeFromInvited(player.id)" color="warn" mat-button>remove player</button></td>
        </tr>
    </table>
</div>
