# Default ignored files
/.idea.TrainingApp/.idea/workspace.xml
# Editor-based HTTP Client requests
/.idea.TrainingApp/.idea/httpRequests/
# Datasource local storage ignored files
/.idea.TrainingApp/.idea/dataSources/
