

.time-picker{
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 20vw;
}
.input{
    width: 15vw;
    margin: 2rem;
}
.content{
    
    align-self: center !important;
    margin-left: 10vw !important;
    margin-right: 10vw !important;
}
.players{
}

.mat-card{
    white-space: normal;
    margin: 1rem;
    width: 200px;
    padding-left: 1rem !important;
    .mat-card-header{
        font-weight: bold;
        margin-bottom: 4rem;
        padding-bottom: 2rem;
    }
    .mat-card-footer{
        align-content: center;
    }
}
.card{
    overflow: hidden;
    align-items: center;
    text-align: center;
}
.wrapper{
    text-align: center;
}
.clock{
    position: relative;
    top: -1.5vw;
    left: 6.5vw;
}
.create-button{
    background: #00d6a0;
}
.user-img{
    margin-right: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.user-name {
    margin-top: 1rem;
}
.content{
    margin-left: 20vw!important;
}
