<mat-sidenav-container class="app-container">
    <mat-sidenav #sidenav>
        <div class="container">    
            <div class="row">
                <a mat-raised-button color="primary" class="m-2 col nav-btn" [routerLink]="'/home'" (click)="sidenav.toggle()"> Home </a>
            </div>
            <div class="row">
                <a mat-raised-button color="primary" class="m-2 col nav-btn" [routerLink]="'/manage'" (click)="sidenav.toggle()"> Manage team </a>
            </div>
            <div class="row">
                <a mat-raised-button color="primary" class="m-2 col nav-btn" [routerLink]="'/training/create'" (click)="sidenav.toggle()"> Create new training </a></div>
            <div class="row">
                <a mat-raised-button color="primary" class="m-2 col nav-btn" [routerLink]="'/notification/create'" (click)="sidenav.toggle()"> Create new notification </a>
            </div>
            <div class="row">
                <a mat-raised-button color="primary" class="m-2 col nav-btn" [routerLink]="'/bill'" (click)="sidenav.toggle()"> View your bills </a>
            </div>
            <div class="row">
                <a mat-raised-button color="primary" class="m-2 col nav-btn" [routerLink]="'/bill/create'" (click)="sidenav.toggle()">Create new invoice</a>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-navbar></app-navbar>
        <button mat-raised-button color="primary" class="nav-btn m-4" (click)="sidenav.open()">Menu</button>
        <div class="justify-content-center">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
